@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-Blue: hsl(233, 26%, 24%);
  --ime-Green: hsl(136, 65%, 51%);
  --bright-Cyan: hsl(192, 70%, 51%);
  --grayish-Blue: hsl(233, 8%, 62%);
  --light-Grayish-Blue: hsl(220, 16%, 96%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --linear: linear-gradient(90deg,
      rgba(49, 211, 92, 1) 0%,
      rgba(43, 183, 218, 1) 100%);
  --Public-Sans: "Public Sans", sans-serif;
}

body {
  font-family: var(--Public-Sans);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: var(--Public-Sans);
}

/* header section  */

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--white);
  padding: 24px 0;
}

.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  display: flex;
  gap: 28px;
}

.header .nav a {
  text-decoration: none;
  color: var(--grayish-Blue);
}

.header .request {
  background-image: var(--linear);
  padding: 16px 32px;
  border-radius: 50px;
  color: var(--white);
}

.open-menu,
.close-menu  {
  display: none;
  background-color: transparent;
  border: none;
}

.mobile-nav {
  display: none;
}

/* hero section  */

.hero {
  background-color: var(--very-Light-Gray);
}

.hero-section {
  width: 90%;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 40%;
}

.hero-content h1 {
  font-size: 4vw;
  font-weight: 400;
  color: var(--dark-Blue);
}

.hero-content p {
  font-size: 18px;
  color: var(--grayish-Blue);
  margin: 28px 0;
  line-height: 150%;
}

.hero-content .request {
  display: block;
  width: fit-content;
  background-image: var(--linear);
  padding: 16px 32px;
  border-radius: 50px;
  color: var(--white);
}

.hero-image {
  min-height: 90vh;
  width: 60%;
  position: relative;
  background-image: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: 77%;
}

.hero-image img {
  width: 95%;
  position: absolute;
  top: -16%;
  right: -16%;
}

/* Easybank section  */

.easybank {
  background-color: var(--light-Grayish-Blue);
  padding: 100px 0;
}

.easybank-section {
  width: 80%;
  margin: 0 auto;
}

.easy-content {
  width: 55%;
}

.easy-content h2 {
  font-size: 45px;
  font-weight: 400;
  color: var(--dark-Blue);
}

.easy-content p {
  font-size: 18px;
  color: var(--grayish-Blue);
  margin: 28px 0 70px;
  line-height: 150%;
}

.easybank-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 32px;
}

.easybank-list h3 {
  font-size: 28px;
  font-weight: 400;
  color: var(--dark-Blue);
  margin: 24px 0;
}

.easybank-list p {
  font-size: 16px;
  color: var(--grayish-Blue);
  line-height: 150%;
}

/* article section  */

.article {
  background-color: var(--very-Light-Gray);
  padding: 80px 0;
}

.article-section {
  width: 80%;
  margin: 0 auto;
}

.article-section h2 {
  font-size: 45px;
  font-weight: 400;
  color: var(--dark-Blue);
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 32px;
  margin-top: 50px;
}

.article-card {
  background-color: var(--white);
  border-radius: 4px;
}

.article-card img {
  width: 100%;
  height: 200px;
  border-radius: 4px 4px 0 0;
}

.article-card div {
  padding: 24px;
}

.article-card span {
  font-size: 12px;
  color: var(--grayish-Blue);
}

.article-card h3 {
  font-weight: 500;
  color: var(--dark-Blue);
  margin: 16px 0;
}

.article-card p {
  font-size: 14px;
  color: var(--grayish-Blue);
  line-height: 150%;
}

/* footer section  */

footer {
  background-color: var(--dark-Blue);
  padding: 50px 0;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.footer-one {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 46px;
}

.links {
  display: grid;
  gap: 18px;
}

.links a {
  color: var(--white);
  opacity: 0.8;
}

.footer-two {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.footer-two a {
  display: block;
  background-image: var(--linear);
  padding: 16px 36px;
  border-radius: 50px;
  color: var(--white);
}

.footer-two p {
  color: var(--grayish-Blue);
  font-size: 18px;
}


@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }

  .header nav {
    gap: 20px;
  }

  .header nav a {
    font-size: 14px;
  }

  .header .request {
    font-size: 14px;
  }

  .hero {
    overflow-x: hidden;
  }

  .hero-section {
    width: 95%;
  }

  .hero-image img {
    top: -10%;
  }

  /* easybank section  */
  .easybank-section {
    width: 90%;
  }

  /* article section  */
  .article-section {
    width: 90%;
  }

  /* footer section  */
  .footer{
    width: 90%;
    flex-wrap: wrap;
  }

  .footer-two a {
    display: block;
    background-image: var(--linear);
    padding: 16px 30px;
    border-radius: 50px;
    color: var(--white);
    font-size: 14px;
  }

}


@media screen and (max-width: 768px) {

  .header .request,
  .header .nav {
    display: none;
  }

  .mobile-nav.open {
    display: block;
  }

  .mobile-nav {
    height: 100vh;
    width: 100%;
    /* display: block; */
    background: linear-gradient(0deg, rgba(45, 49, 77, 0.5327380952380952) 19%, rgba(45, 49, 77, 1) 100%);
    position: fixed;
    top: 70px;
    padding-top: 40px;
    /* animation: slideIn 0.5s ease; */
  }

  .mobile-nav nav {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    padding: 24px;
    border-radius: 4px;
    background-color: var(--white);
    display: grid;
    gap: 20px;
    text-align: center;
  }

  .mobile-nav nav a {
    color: var(--dark-Blue);
  }

  .open-menu{
    display: block;
  }

  /* hero section  */
  .hero-section {
    width: 100%;
    margin: 0 auto;
    flex-direction: column-reverse;
  }

  .hero-content,
  .hero-image {
    width: 100%;
  }

  .hero-image {
    margin: -46% auto 0;
    display: flex;
    justify-content: center;
    min-height: unset;
  }

  .hero-image img {
    position: static;
    object-fit: contain;
    width: 95%;
  }

  .hero-content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 40px;

  }

  /* easybank section  */
  .easybank {
    padding: 60px 0;
  }

  .easy-content {
    width: 100%;
    text-align: center;
  }

  .easy-content h2 {
    font-size: 34px;
  }

  /* article section  */
  .article-section h2 {
    font-size: 34px;

  }

  /* footer section  */
  .footer{
    flex-direction: column;
  }

  .footer-one, .footer-two{
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .hero-image {
    margin: -34% auto 0;
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
  }


  /* easybank section  */
  .easybank-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .easybank-card {
    text-align: center;
  }

  .easybank-list h3 {
    font-size: 24px;
  }

  /* article section  */
  .article-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .article-card img {
    object-fit: cover;
  }

  .article-card h3 {
    font-size: 20 px;
  }

  /* footer section  */
  .footer-one{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-two{
    align-items: center;
    gap: 32px;
  }

  .footer-two p{
    font-size: 16px;
  }

  .socials{
    margin: 32px 0;
  }

  .link-mobile{
    margin-bottom: 18px;
  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}